<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .errorPage-back-to-index-button-div {
            text-align: center;
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="errorPage-back-to-index-button-div">
                    <a href="/" class="btn btn-primary errorPage-back-to-index-button">返回主页</a>
                </div>
                <div style="text-align: center">
                    <img class="img-responsive" src="/images/404.jpg" alt="" style="margin: auto">
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>